<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/header :: header_relay}"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5" th:text="${h1}">Relay schedule form</h1>

        <hr/>

        <form th:action="@{/relay/schedule/save}" th:object="${relaySchedule}" method="POST">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="relay">Relay type:</label>
                <div class="col-sm-10">
                    <select th:field="*{relay}" id="relay" class="form-select col-4 mb-4">
                        <option th:each="relay : ${relayService.getAll()}"
                                th:value="${relay.getId()}"
                                th:text="${relay.getName()}"
                                th:selected="${relaySchedule.getRelay().getId() == relay.getId()}"
                                th:if="${relaySchedule.getId() != null}">Options for edit
                        </option>
                        <option value="0" selected th:if="${relaySchedule.getId() == null}"> - - -</option>
                        <option th:each="relay : ${relayService.getAll()}"
                                th:value="${relay.getId()}"
                                th:text="${relay.getName()}"
                                th:if="${relaySchedule.getId() == null}">Options for new item
                        </option>

                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="onStart" class="col-sm-2 col-form-label">Time start:</label>
                <div class="col-sm-10">
                    <input type="time" th:field="*{onStart}"
                           class="form-control col-4 mb-4"
                           placeholder="Enter the time when relay will be turn on"
                           id="onStart"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="onEnd" class="col-sm-2 col-form-label">Time end:</label>
                <div class="col-sm-10">
                    <input type="time" th:field="*{onEnd}"
                           class="form-control col-4 mb-4"
                           placeholder="Enter the time when relay will be turn off"
                           id="onEnd"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="dayNumber" class="col-sm-2 col-form-label">Day of week:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{dayNumber}"
                           min="1" max="7"
                           class="form-control col-4 mb-4"
                           placeholder="Select day of week"
                           id="dayNumber"/>
                </div>
            </div>


            <button type="submit" class="btn btn-primary col-2">Save</button>
            <a th:href="@{/relay/schedule/list}" class="btn btn-danger col-2">Cancel</a>

            <input type="hidden" th:field="*{id}"/>

        </form>

    </div>
</main>

<footer th:replace="~{fragments/footer :: basicFooter}"/>

<div th:replace="~{fragments/footer :: bootstrapBundleMin523}"/>

</body>
</html>